@model SkillfactoryNetwork.BLL.ViewModels.Account.SearchViewModel;

@{
    ViewData["Title"] = "Поиск";
}

<div class="block-reg background-white">
    @if (Model.UserList.Count != 0)
    {
        @foreach (var user in @Model.UserList)
        {
            <div>
                <div class="mrgn center-align">
                    <img src="@user.Image" class="ava" />
                </div>
                <div class="mrgn center-align">
                    @user.GetFullName()
                 </div>
                <div class="mrgn center-align">
                    @user.Status
                </div>
                <div class="mrgn center-align">
                    @user.About
                </div>
                @if (!@user.IsFriendWithCurrent)
                {
                    <form asp-controller="AccountManager" asp-action="AddFriend" asp-route-id="@user.Id" method="post">

                        <div class="mrgn center-align">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Добавить в друзья
                            </button>
                        </div>

                    </form>
                }
            </div>
        }
    }
    else
    {
        <label> Поиск не дал результатов.</label>
    }
</div>